{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
{{Building.name}}
{% load static %}
{% endblock %}
{% block content %}
<div class="h-100 d-flex flex-row justify-content-between align-items-start" style="margin: 10px;">
    <div class="flex-fill card card-body" style="margin:10px;" >
      <div>
    <h1 class="justify-content-center" style="margin-bottom: 50px;"><span style="font-weight:600">Name : </span>{{Building.name}}</h1>
  </div>
        <a class="with-chevron" type="button" data-bs-toggle="collapse" href="#informations"  aria-expanded="true" aria-controls="collapseOne">
          <h3 class="d-flex justify-content-between">Informations<span class="rotate bi bi-caret-right-fill"></span></h3>
        </a>
          <div class="collapse show" id="informations">
            <div>
              <div>
                  <h6 onclick="makeInput(this)" class="toggle-edit">Street : {{Building.street | default_if_none:"Unspecified"}}</h6>
                  <h6 class="toggle-edit">Administrator : {{Building.administrators | default_if_none:"Unspecified"}}</h6>
                  <h6 class="toggle-edit">Building date : {{Building.date_build | default_if_none:"Unspecified"}}</h6> 
                  <h6 class="toggle-edit">Author : {{Building.author | default_if_none:"Unspecified"}}</h6>
                  <h6 class="toggle-edit">Site : {{Building.site | default_if_none:"Unspecified"}}</h6>
              </div>
            </div>
          </div>
          <a class="with-chevron" type="button" data-bs-toggle="collapse" href="#surfaces"  aria-expanded="false" aria-controls="collapseOne">
            <h3 class="d-flex justify-content-between">Surfaces<span class="rotate bi bi-caret-right-fill"></span></h3>
          </a>
            <div class="collapse " id="surfaces">
              <div>
                <div>
                    <h6>External work surface: {{Building.surface_external_work | default_if_none:"/"}} m²</h6>
                    <h6>Internal work surface : {{Building.surface_internal_work | default_if_none:"/"}} m²</h6> 
                    <h6>Office surface : {{Building.surface_office | default_if_none:"/"}} m²</h6>
                    <h6>Rent surface : {{Building.surface_rent | default_if_none:"/"}} m²</h6>
                    <h6>Floor surface : {{Building.surface_floor | default_if_none:"/"}} m²</h6>
                    <h6>Under roof surface : {{Building.surface_under_roof | default_if_none:"/"}} m²</h6>
                </div>
              </div>
            </div>
    </div>
    <div style="width:30%;word-wrap: break-word ">
      <div id="media-card"> 
        <h3>Localisation : </h3>
        <div id="map" class="align-self-start" style="margin-bottom: 10px;"></div>
        <h3>Image : </h3>
        {% if Building.image.url != None %}
        <img src="{{ Building.image.url }}" class="card-img-top" alt="..." style="height:300px;object-fit:scale-down;margin-top: 10px;">
      {% else %}
        <img src="{% static 'images/index_template.png' %}" class="card-img-top" alt="..." style="height:300px;object-fit:scale-down;margin-top: 10px;">
      {% endif %}
    </div>
    <div id="media-card"> 
      <h3>Ralated Spaces : </h3>
      {% for Space in Spaces %}
      <p>{{Space.name}}</p> 
      {% endfor %}</div>
  </div>

</div>
<script>
    var map = L.map('map').setView("{{geometrie.centroid.coords}}".replace(/\(|\)/g, '').split(',').reverse(), 16);
    L.tileLayer('https://wgs-users.s3.amazonaws.com/cus/fonds/ems_gris/{z}/{x}/{y}.png', {
    maxZoom: 21,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    L.geoJSON(JSON.parse("{{ geometrie.geojson | escapejs}}")).addTo(map);
</script>
{% endblock %}

