.centerDiv
{
max-width: 95%;
width: 500px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
overflow: hidden;
}
#map 
{ 
height: 300px; 
background: white;
}
.rotate
{
-moz-transition: all 0.5s linear;
-webkit-transition: all 0.5s linear;
transition: all 0.5s linear;
}
.with-chevron
{
color: black;
text-decoration: none;
}
.with-chevron[aria-expanded='true'] span {
-ms-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}
#media-card
{
margin: 10px;
padding: 10px;
}
.scrollDiv::-webkit-scrollbar
{
display: none;
}
.scrollDiv 
{
width: 100%;
overflow: scroll; 
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
#indexCards
{
overflow: Hidden;
}
#sideButton {
position:absolute;
height: 30px;
width: 30px;
display:flex;
justify-content:start;
align-items:center;
top:calc(50% - 44.6px);
left:calc(20% - 15px);
z-index:1;
}
#sideButton.hide 
{
top:calc(50% - 44.6px);
left:-20px;
justify-content:end;
transform: rotate(180deg);
}
#searchDiv
{ 
z-index: 2;
background-color: #FBFBFB;
}
#searchDiv.hide {
visibility: hidden;
position: fixed;
left: -22%;
}

#div_id_archived
{  
    margin-top : 10%;
    border-top-style: solid;
    border-color: #9fa6b263;
    padding-top: 10%;
}
.indexPlaceholder
{
    font-size: xx-large;
    color:#9fa6b263;
    font-weight: bolder;
}
