{% extends "base.html" %}
{% block title %}
{% load static %}
{% load crispy_forms_tags %}
Index
{% endblock %}
{% block content %}
<style>
  body
  {
    overflow: hidden;
  }
</style>

<div class="d-flex flex-row justify-content-fill">



  
  <div class="shadow-4"  id="searchDiv" style="width: 20%;height:calc(100vh - 76.6px);">
    
    <div class="d-flex flex-row flex-fill scrollDiv justify-content-center" style="height: 90%;">
    <form id="djangoForm" style="width: 90%;margin-top: 5%;" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy}}
        
    </div>
    <div id="searchBtnDiv" class="d-flex flex-row justify-content-center align-items-center" style="height: 10%;">
      <button id="ajax-call" type="submit" class="btn btn-primary"style="width:80%;" >Search</button>
    </form>
    </div>
    

  </div>
 <!-- <button id="sideButton" type="button" class="btn btn-secondary" onclick="toggle()"><i style="font-weight: 900;"class="bi bi-chevron-double-left"></i></button> -->

  <div class="flex-fill" style="height:calc(100vh - 76.6px);">
    <div id="pgDiv" class="d-flex flex-column flex-fill" style="height: 90%;padding:1%">
      
      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert" style="position:absolute;right:10px;left:calc(20% + 10px)">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}

      {% if get_request != True %}
      {% for Building in Buildings %}
        <div class="d-flex flex-row" style="height: 20%;">
          <div id="indexCards" class="flex-row d-flex card card-body" style="height: 95%;width: 100%;padding:1%;">
            <img src="{% static 'images/index_template.png' %}" class="card-img-top" style="height:100%;object-fit:cover;width: 20%;" alt="...">
           <div class="d-flex flex-column"style="margin-left:2%;width:50%">
              <h1>{{Building.name}}</h1>
              {% if Building.site %}
              <p>{{Building.site}}</p>
              {% elif Building.building %}
              <p>{{Building.building}}</p>
              {% endif %}
            </div>
            <div class="d-flex flex-column justify-content-center flex-fill"style="margin-left:2%;">
              <h5>{{Building.types}}</h5>
            </div>
            <div class="d-flex flex-column justify-content-end"style="margin-left:2%;">
            {% if Building.site %}
            <a href="{% url 'sheetBuilding' Building.id %}" class="btn btn-primary">Go <i class="bi bi-chevron-double-right"></i></a>
            {% elif Building.building %}
            <a href="{% url 'sheetSpace' Building.id %}" class="btn btn-primary">Go <i class="bi bi-chevron-double-right"></i></a>
            {% else %}
            <a href="{% url 'sheetSite' Building.id %}" class="btn btn-primary">Go <i class="bi bi-chevron-double-right"></i></a>
            {% endif %}
          </div>
        </div>
        </div>
      {% empty %}
      <div class="d-flex d-flex-row flex-fill justify-content-center align-items-center indexPlaceholder">No results !</div>
      {% endfor %}
      {% else %}
      <div class="d-flex d-flex-row flex-fill justify-content-center align-items-center indexPlaceholder">Nothing to see here launch a research !</div>
      {% endif %}
    </div>
    
    <div class="d-flex flex-row justify-content-center align-items-center" style="height: 10%;">
      <nav id="navElem"style="margin:0px;">
        <ul class="pagination justify-content-center" style="margin:0px !important">
          {% if Buildings.has_previous %}
            <li class="page-item">
              <button class="page-link" onclick="getQuery('{{ Buildings.previous_page_number }}')">Previous</button>
            </li>
          {% else %}
            <li class="page-item disabled">
              <button class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</button>
            </li>
          {% endif %}
          {% for i in Buildings.paginator.page_range %}
            {% if Buildings.number == i %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">
                  {{ i }}
                  <span class="sr-only">(current)</span>
                </span>
              </li>
            {% else %}
              <li class="page-item"><button class="page-link" onclick="getQuery('{{ i }}')">{{ i }}</button></li>
            {% endif %}
          {% endfor %}
          {% if Buildings.has_next %}
          <li class="page-item">
            <button class="page-link" onclick="getQuery('{{Buildings.next_page_number}}')">Next</button>
          </li>
          {% else %}
            <li class="page-item disabled">
              <button class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</button>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

</div>

<script>
function toggle () {
  document.getElementById("searchDiv").classList.toggle("hide");
  document.getElementById("sideButton").classList.toggle("hide");
} 

var formData = new FormData();
formData.append('name', document.querySelector("#id_name").value);
formData.append('type', document.querySelector("#id_type").value);
formData.append('element', document.querySelector("#id_element").value);
formData.append('administrators', document.querySelector("#id_administrators").value);
formData.append('owner', document.querySelector("#id_owner").value);
formData.append('build_after', document.querySelector("#id_build_after").value);
if (document.querySelector("#id_archived").checked){formData.append('archived', document.querySelector("#id_archived").value);}
</script>
{% endblock %}