{% extends "base.html" %}
{% block title %}
{% load static %}
{% load crispy_forms_tags %}
Index
{% endblock %}
{% block content %}
<style>
  body
  {
    overflow: hidden;
  }
</style>

<div class="d-flex flex-row justify-content-fill">

  <div style="width: 20%;height:calc(100vh - 76.6px);border: 1%;border-style: solid;">
    <div class="d-flex flex-row flex-fill scrollDiv justify-content-center" style="background-color: blue;height: 90%;">
      <form style="width: 80%;margin-top: 10px;" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="name" name="name" type="text" id="textInput" class="form-control mb-4" placeholder="Name">
        <input id="type" name="type" type="text" id="textInput" class="form-control mb-4" placeholder="Type">
    </div>

    <div class="d-flex flex-row justify-content-center align-items-center" style="background-color: rgba(31, 60, 187, 0.1);height: 10%;">
      <button  class="btn btn-primary"style="width:80%;">Search</button>
    </div>
  </form>
  </div>

  <div class="flex-fill" style="height:calc(100vh - 76.6px);">
    <div id="pgDiv" class="d-flex flex-column flex-fill" style="height: 90%;margin: 0.5%;margin-bottom: 0px;">
      {% for Building in Buildings %}
        <div id="keywords" class="d-flex flex-row" style="height: 20%;">
          <div class="flex-row d-flex card card-body" style="height: 95%;width: 100%;padding:1%;">
            <img src="{% static 'images/index_template.png' %}" class="card-img-top" style="height:100%;object-fit:cover;width: 20%;" alt="...">
           <div class="d-flex flex-column"style="margin-left:2%;width:50%">
              <h1>{{Building.name}}</h1>
              <p>{{Building.site}}</p>
            </div>
            <div class="d-flex flex-column justify-content-center flex-fill"style="margin-left:2%;">
              <h5>{{Building.types}}</h5>
            </div>
            <div class="d-flex flex-column justify-content-end"style="margin-left:2%;">
            <a href="{% url 'sheetBuilding' Building.id %}" class="btn btn-primary">Go <i class="bi bi-chevron-double-right"></i></a>
          </div>
        </div>
        </div>
      {% endfor %}
    </div>
    
    <div class="d-flex flex-row justify-content-center align-items-center" style="height: 10%;">
      <nav id="navElem"style="margin:0px;">
        <ul class="pagination justify-content-center" style="margin:0px !important">
          {% if Buildings.has_previous %}
            <li class="page-item">
              <a class="page-link" onclick="getQuery('{{ Buildings.previous_page_number }}')">Previous</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
            </li>
          {% endif %}
          {% for i in Buildings.paginator.page_range %}
            {% if Buildings.number == i %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">
                  {{ i }}
                  <span class="sr-only">(current)</span>
                </span>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" onclick="getQuery('{{ i }}')">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if Buildings.has_next %}
            <li class="page-item">
              <a class="page-link" onclick="getQuery('{{ Buildings.next_page_number }}')" >Next</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

</div>

<script>

document.addEventListener("DOMContentLoaded", function() {

  if ( "{{name}}" != "None") {
    document.getElementById('name').value = "{{name}}"
  }
  if ( "{{type}}" != "None") {
    document.getElementById('type').value = "{{type}}"
  }


});



</script>
{% endblock %}